{% extends 'newsApp/base.html' %}

{% block content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">DataTable with minimal features & hover style</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="datatable_permissions" class="table table-bordered table-hover">
                
                
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock content %}

{% block extrastyle %}

    <link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet" />
    <!-- link rel='stylesheet' href="{% static 'datatables.net-bs/css/dataTables.bootstrap.min.css' %}" -->
    <link rel='stylesheet' href="{% static 'datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel='stylesheet' href="{% static 'datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}">

{% endblock extrastyle %}

{% block extrajs %}

    <script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>

    <script src="{% static 'datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <!-- script src="{% static 'datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script -->
    <script src="{% static 'datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'pdfmake/build/vfs_fonts.js' %}"></script>

{% endcompress %}

{% block scripts %}

<script>
  $(document).ready(function() {
        AjaxDatatableViewUtils.initialize_table(
            $('#datatable_permissions'),
            "{% url 'semrush_data_list' %}",
            {
                // extra_options (example)
                processing: false,
                autoWidth: false,
                full_row_select: true,
                scrollX: false
            }, {
                // extra_data
                // ...
            },
        );
    });
</script>

{% endblock scripts %}