{% extends "newsApp/base.html"%}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<h3>Category Form</h3><br>

<div class="container">
    <form action=""  method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                {{ cat.title | as_crispy_field }}
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add New</button>
            </div>
        </div>
    </form>
    
    <table class="table table-boderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <td>Title</td>
            </tr>
        </thead>
        <tbody>
            {% for Category in news_category_display %}
    
            <tr>
                <td>{{ Category.title }}</td>
            </tr>
    
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-2">
            <br><br><a href="{% url 'news_form' %}" class="btn btn-secondary btn-block btn-sm">
                <i class="fa fa-bars" aria-hidden="true"></i> Back to form
            </a>
        </div>
    </div>
</div>

{% endblock content %}