{% extends "newsApp/base.html" %}

{% block content %}

<table class="table table-boderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>News Title</td>
            <td>News Category</td>
            <td>News Description</td>
            <td>News Channel</td>
            <td>
                <a href="{% url 'news_insert' %}" class="btn btn-outline-success">
                    <i class="fa fa-plus-square-o" aria-hidden="true"> Add New</i>
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for newsDetails in news_list %}

        <tr>
            <td>{{ newsDetails.newsTitle }}</td>
            <td>{{ newsDetails.newsCategory }}</td>
            <td>{{ newsDetails.newsDescription | safe}}</td>
            <td>{{ newsDetails.newsChannel }}</td>
            <td>
                <a href="{% url 'news_update' newsDetails.id %}" class="btn text-secondary px-0">
                    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                </a>
                <form action="" method="POST" class="d-inline">
                    {% csrf_token %}
                    <a class="btn" href="{% url 'news_delete' newsDetails.id %}">
                        <i class="fa fa-trash-o fa-lg text-danger float-right" aria-hidden="true" ></i>
                    </a>
                </form>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock content %}